/* ========================================================================= */
/* PROGRESS BAR */
/* ========================================================================= */
#progress-bar-wrap {
  position: relative;
  margin: 50px auto;
  width: 340px;
}
#progress-bar {
  position: relative;
  top: 10px;
  left: 20px;
  height: 10px;
  width: 300px;
  background-color: white;
}
/* BUBBLES FOR EACH STEP */
.bubble-wrap {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  margin-top: -15px;
}
.bubble {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
}
.bubble.active {
  background-color: #00c4f7;
  /* transition effects */
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  /* transition effects delay: wait for progress bar to fill */
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
}
#bubble-1 {
  left: 0px;
}
#bubble-2 {
  left: 100px;
}
#bubble-3 {
  left: 200px;
}
#bubble-4 {
  left: 300px;
}
/* STEP COMPLETION PERCENTAGE (0% - 100%) */
.step-percentage-wrap {
  position: absolute;
  width: 62px;
}
.step-percentage {
  position: absolute;
  background-color: #00c4f7;
  height: 10px;
  margin-left: -1px;
  width: 0%;
  /* transition effects */
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
#step-percentage-1 {
  left: 40px;
}
#step-percentage-2 {
  left: 140px;
}
#step-percentage-3 {
  left: 240px;
}
/* ========================================================================= */
/* BUTTONS AND SLIDER*/
/* ========================================================================= */
.step-button {
  margin: 10px 2px;
  height: 40px;
  width: 75px;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial;
}
.slider-wrap {
  margin: 25px auto;
  width: 300px;
}
/* ========================================================================= */
/* GENERAL */
/* ========================================================================= */
.hidden {
  display: none;
}
